<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My Zoo</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <!-- prevent back history -->
    <script type="text/javascript">
        window.onload = function() {
            history.pushState(null, null, location.href);
            window.onpopstate = function(event)
                { history.go(1); };
        }
    </script>
</head>
<body>
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                @RenderBody()
                <div class="mastfoot">
                    <div class="inner">
                        <p>&copy; @DateTime.Now.Year - My Zoo</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="container">
    

</div>
@Html.Action("Urls", "Home", new {area = String.Empty})
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/angularjs")
@Scripts.Render("~/bundles/zoojs")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
